(
"cartoucheend-sp",
"cartouchestart-sp",
"a-sp",
"akesi-sp",
"ala-sp",
"alasa-sp",
"ale-sp",
"anpa-sp",
"ante-sp",
"anu-sp",
"awen-sp",
"e-sp",
"en-sp",
"ijo-sp",
"ike-sp",
"ilo-sp",
"insa-sp",
"jaki-sp",
"jan-sp",
"jelo-sp",
"kili-sp",
"li-sp",
"lili-sp",
"linja-sp",
"lipu-sp",
"lupa-sp",
"mi-sp",
"musi-sp",
"nanpa-sp",
"nena-sp",
"o-sp",
"ona-sp",
"open-sp",
"pi-sp",
"pini-sp",
"pona-sp",
"pu-sp",
"sike-sp",
"sina-sp",
"sitelen-sp",
"suli-sp",
"suno-sp",
"taso-sp",
"tenpo-sp",
"toki-sp",
"uta-sp",
"wawa-sp",
"wile-sp",
newGlyph
)