(
"cartoucheend-sp",
"cartouchestart-sp",
"a-sp",
"ijo-sp",
"ike-sp",
"jan-sp",
"li-sp",
"lili-sp",
"lipu-sp",
"lupa-sp",
"mi-sp",
"musi-sp",
"nena-sp",
"o-sp",
"ona-sp",
"open-sp",
"pi-sp",
"pona-sp",
"pu-sp",
"sike-sp",
"sina-sp",
"sitelen-sp",
"suli-sp",
"taso-sp",
"tenpo-sp",
"toki-sp",
"uta-sp",
"wawa-sp",
"wile-sp"
)