{
displayStrings = (
"/mi-sp/sina-sp/ona-sp",
"/mi-sp",
"/toki-sp",
"/sike-sp",
"/jan-sp/sitelen-sp",
"/ijo-sp",
"/tenpo-sp",
"/wawa-sp",
"/akesi-sp",
"/ala-sp",
"/alasa-sp",
"/li-sp",
"/ale-sp",
"/uta-sp",
"/anpa-sp",
"/akesi-sp/anpa-sp/ale-sp/li-sp/alasa-sp/ala-sp",
"/anu-sp",
"/awen-sp",
"/e-sp",
"/ijo-sp/en-sp",
"/ante-sp",
"/a-sp",
"/ilo-sp",
"/insa-sp",
"/a-sp/akesi-sp/ala-sp/alasa-sp/ale-sp/anpa-sp/wile-sp/anu-sp/awen-sp/e-sp/en-sp/ijo-sp/ike-sp/ilo-sp/insa-sp/jan-sp/li-sp/lili-sp/lipu-sp/lupa-sp/mi-sp/musi-sp/nena-sp/o-sp/ona-sp/open-sp/pi-sp/pona-sp/pu-sp/sike-sp/sina-sp/sitelen-sp/suli-sp/taso-sp/tenpo-sp/toki-sp/uta-sp/wawa-sp/wile-sp",
"/cartoucheend-sp",
"/cartouchestart-sp",
"/sina-sp/jaki-sp/suli-sp",
"/jelo-sp/sina-sp/li-sp/pona-sp",
"/suno-sp",
"/kili-sp/jelo-sp"
);
}
