{
displayStrings = (
"/musi-sp/cartouchestart-sp/pona-sp/ike-sp/pu-sp/cartoucheend-sp/cartouchestart-sp/li-sp/pona-sp/cartoucheend-sp 
/ona-sp/li-sp/pona-sp/e-sp/mi-sp 
/lili-sp/suli-sp",
"/mi-sp",
"/toki-sp",
"/sike-sp",
"/jan-sp/sitelen-sp",
"/cartouchestart-sp",
"/sina-sp/jaki-sp/suli-sp",
"/jelo-sp",
"/newGlyph",
"/alasa-sp",
"/a-sp",
"/li-sp",
"/e-sp",
"/linja-sp",
"/pini-sp",
"/nanpa-sp"
);
}
