(
space,
_corner.exterior,
_corner.interior,
"kijetesantakalu-sp",
"tonsi-sp",
"a-sp",
"akesi-sp",
"ala-sp",
"alasa-sp",
"ale-sp",
"anpa-sp",
"ante-sp",
"anu-sp",
"awen-sp",
"en-sp",
"ilo-sp",
"insa-sp",
"jan-sp",
"ken-sp",
"kepeken-sp",
"la-sp",
"li-sp",
"meli-sp",
"mije-sp",
"nasin-sp",
"ni-sp",
"o-sp",
"soweli-sp",
"tenpo-sp",
"toki-sp"
)