{
displayStrings = (
" ",
"/kijetesantakalu-sp/li-sp/alasa-sp/meli-sp/anu-sp/jan-sp/anpa-sp/ante-sp/ale-sp/akesi-sp",
"/meli-sp",
"/ala-sp",
"",
"/li-sp",
"/alasa-sp",
"/jan-sp",
"",
"",
"/tenpo-sp/ni-sp/la-sp/nasin-sp/meli-sp/li-sp/toki-sp",
"/la-sp",
"/ni-sp",
"/ni-sp/li-sp/mije-sp/kepeken-sp/tenpo-sp/meli-sp",
"/ken-sp",
"/kepeken-sp"
);
}
