{
.appVersion = "3151";
.formatVersion = 3;
axes = (
{
name = Weight;
tag = wght;
}
);
classes = (
{
code = "space-han
comma-han
cornerbracketleft
cornerbracketright
colon-sp
interpunct-sp
apeja-sp
majuna-sp
pake-sp
powe-sp
epiku-sp
jasima-sp
kijetesantakalu-sp
kin-sp
kipisi-sp
kokosila-sp
ku-sp
lanpan-sp
leko-sp
meso-sp
misikeke-sp
monsuta-sp
n-sp
namako-sp
oko-sp
soko-sp
tonsi-sp
a-sp
akesi-sp
ala-sp
alasa-sp
ale-sp
anpa-sp
ante-sp
anu-sp
awen-sp
e-sp
en-sp
esun-sp
ijo-sp
ike-sp
ilo-sp
insa-sp
jaki-sp
jan-sp
jelo-sp
jo-sp
kala-sp
kalama-sp
kama-sp
kasi-sp
ken-sp
kepeken-sp
kili-sp
kiwen-sp
ko-sp
kon-sp
kule-sp
kulupu-sp
kute-sp
la-sp
lape-sp
laso-sp
lawa-sp
len-sp
lete-sp
li-sp
lili-sp
linja-sp
lipu-sp
loje-sp
lon-sp
luka-sp
lukin-sp
lupa-sp
ma-sp
mama-sp
mani-sp
meli-sp
mi-sp
mije-sp
moku-sp
moli-sp
monsi-sp
mu-sp
mun-sp
musi-sp
mute-sp
nanpa-sp
nasa-sp
nasin-sp
nena-sp
ni-sp
nimi-sp
noka-sp
o-sp
olin-sp
ona-sp
open-sp
pakala-sp
pali-sp
palisa-sp
pan-sp
pana-sp
pi-sp
pilin-sp
pimeja-sp
pini-sp
pipi-sp
poka-sp
poki-sp
pona-sp
pu-sp
sama-sp
seli-sp
selo-sp
seme-sp
sewi-sp
sijelo-sp
sike-sp
sin-sp
sina-sp
sinpin-sp
sitelen-sp
sona-sp
soweli-sp
suli-sp
suno-sp
supa-sp
suwi-sp
tan-sp
taso-sp
tawa-sp
telo-sp
tenpo-sp
toki-sp
tomo-sp
tu-sp
unpa-sp
uta-sp
utala-sp
walo-sp
wan-sp
waso-sp
wawa-sp
weka-sp
wile-sp";
name = cartouchable;
},
{
code = "space-han.cart
comma-han.cart
cornerbracketleft.cart
cornerbracketright.cart
colon-sp.cart
interpunct-sp.cart
apeja-sp.cart
majuna-sp.cart
pake-sp.cart
powe-sp.cart
epiku-sp.cart
jasima-sp.cart
kijetesantakalu-sp.cart
kin-sp.cart
kipisi-sp.cart
kokosila-sp.cart
ku-sp.cart
lanpan-sp.cart
leko-sp.cart
meso-sp.cart
misikeke-sp.cart
monsuta-sp.cart
n-sp.cart
namako-sp.cart
oko-sp.cart
soko-sp.cart
tonsi-sp.cart
a-sp.cart
akesi-sp.cart
ala-sp.cart
alasa-sp.cart
ale-sp.cart
anpa-sp.cart
ante-sp.cart
anu-sp.cart
awen-sp.cart
e-sp.cart
en-sp.cart
esun-sp.cart
ijo-sp.cart
ike-sp.cart
ilo-sp.cart
insa-sp.cart
jaki-sp.cart
jan-sp.cart
jelo-sp.cart
jo-sp.cart
kala-sp.cart
kalama-sp.cart
kama-sp.cart
kasi-sp.cart
ken-sp.cart
kepeken-sp.cart
kili-sp.cart
kiwen-sp.cart
ko-sp.cart
kon-sp.cart
kule-sp.cart
kulupu-sp.cart
kute-sp.cart
la-sp.cart
lape-sp.cart
laso-sp.cart
lawa-sp.cart
len-sp.cart
lete-sp.cart
li-sp.cart
lili-sp.cart
linja-sp.cart
lipu-sp.cart
loje-sp.cart
lon-sp.cart
luka-sp.cart
lukin-sp.cart
lupa-sp.cart
ma-sp.cart
mama-sp.cart
mani-sp.cart
meli-sp.cart
mi-sp.cart
mije-sp.cart
moku-sp.cart
moli-sp.cart
monsi-sp.cart
mu-sp.cart
mun-sp.cart
musi-sp.cart
mute-sp.cart
nanpa-sp.cart
nasa-sp.cart
nasin-sp.cart
nena-sp.cart
ni-sp.cart
nimi-sp.cart
noka-sp.cart
o-sp.cart
olin-sp.cart
ona-sp.cart
open-sp.cart
pakala-sp.cart
pali-sp.cart
palisa-sp.cart
pan-sp.cart
pana-sp.cart
pi-sp.cart
pilin-sp.cart
pimeja-sp.cart
pini-sp.cart
pipi-sp.cart
poka-sp.cart
poki-sp.cart
pona-sp.cart
pu-sp.cart
sama-sp.cart
seli-sp.cart
selo-sp.cart
seme-sp.cart
sewi-sp.cart
sijelo-sp.cart
sike-sp.cart
sin-sp.cart
sina-sp.cart
sinpin-sp.cart
sitelen-sp.cart
sona-sp.cart
soweli-sp.cart
suli-sp.cart
suno-sp.cart
supa-sp.cart
suwi-sp.cart
tan-sp.cart
taso-sp.cart
tawa-sp.cart
telo-sp.cart
tenpo-sp.cart
toki-sp.cart
tomo-sp.cart
tu-sp.cart
unpa-sp.cart
uta-sp.cart
utala-sp.cart
walo-sp.cart
wan-sp.cart
waso-sp.cart
wawa-sp.cart
weka-sp.cart
wile-sp.cart";
name = cartouched;
}
);
date = "2024-01-25 21:59:19 +0000";
familyName = "linja insa";
featurePrefixes = (
{
automatic = 1;
code = "languagesystem DFLT dflt;
";
name = Languagesystems;
}
);
features = (
{
automatic = 1;
code = "feature calt;
";
tag = aalt;
},
{
code = "sub [cartouchestart-sp @cartouched] @cartouchable' by @cartouched;
rsub @cartouchable' [cartoucheend-sp @cartouched] by @cartouched;
";
tag = calt;
}
);
fontMaster = (
{
axesValues = (
400
);
customParameters = (
{
name = underlineThickness;
value = 140;
},
{
name = underlinePosition;
value = -348;
},
{
name = typoLineGap;
value = 0;
},
{
name = hheaLineGap;
value = 0;
},
{
name = panose;
value = (
2,
0,
5,
3,
0,
0,
0,
2,
0,
4
);
},
{
name = "Axis Location";
value = (
{
Axis = "Optical size";
Location = 14;
},
{
Axis = Weight;
Location = 400;
}
);
},
{
name = "CJK Grid";
value = "8";
},
{
name = TTFStems;
value = (
{
filter = "category == \"UCSUR\"";
horizontal = 1;
name = HStem;
width = 175;
},
{
filter = "category == \"UCSUR\"";
horizontal = 0;
name = VStem;
width = 186;
}
);
}
);
id = m01;
metricValues = (
{
pos = 1984;
},
{
over = 24;
pos = 1490;
},
{
over = 24;
pos = 1118;
},
{
over = -24;
},
{
pos = -494;
},
{
pos = 745;
}
);
name = Regular;
stemValues = (
175,
186
);
userData = {
GSCornerRadius = 500;
GSExtrudeAngle = 0;
GSExtrudeOffset = 500;
GSOffsetHorizontal = 93;
GSOffsetKeepCompatible = 1;
GSOffsetMakeStroke = 1;
GSOffsetPosition = 1;
GSOffsetVertical = 87.5;
};
}
);
instances = (
{
axesValues = (
0
);
instanceInterpolations = {
m01 = 1;
};
name = Regular;
}
);
metrics = (
{
type = ascender;
},
{
type = "cap height";
},
{
type = "x-height";
},
{
type = baseline;
},
{
type = descender;
},
{
name = Midline;
}
);
settings = {
gridLength = 16;
gridSubDivision = 16;
keyboardIncrementBig = 8;
keyboardIncrementHuge = 128;
};
stems = (
{
horizontal = 1;
name = cap_h;
},
{
name = cap_v;
}
);
unitsPerEm = 2048;
userData = {
GSDimensionPlugin.Dimensions = {
m01 = {
HH = "168";
HV = "190";
OH = "176";
OV = "185";
han3 = "175";
han5 = "186";
nV = "180";
nd = "150";
oH = "161";
oV = "182";
tH = "154";
};
};
};
versionMajor = 1;
versionMinor = 0;
}
