{
.appVersion = "3151";
.formatVersion = 3;
axes = (
{
name = Weight;
tag = wght;
}
);
classes = (
{
code = "zero
one
two
three
four
five
six
seven
eight
nine
space-han
comma-han
cornerbracketleft
cornerbracketright
colon-sp
interpunct-sp
apeja-sp
majuna-sp
pake-sp
powe-sp
epiku-sp
jasima-sp
kijetesantakalu-sp
kin-sp
kipisi-sp
kokosila-sp
ku-sp
lanpan-sp
leko-sp
meso-sp
misikeke-sp
monsuta-sp
n-sp
namako-sp
oko-sp
soko-sp
tonsi-sp
a-sp
akesi-sp
ala-sp
alasa-sp
ale-sp
anpa-sp
ante-sp
anu-sp
awen-sp
e-sp
en-sp
esun-sp
ijo-sp
ike-sp
ilo-sp
insa-sp
jaki-sp
jan-sp
jelo-sp
jo-sp
kala-sp
kalama-sp
kama-sp
kasi-sp
ken-sp
kepeken-sp
kili-sp
kiwen-sp
ko-sp
kon-sp
kule-sp
kulupu-sp
kute-sp
la-sp
lape-sp
laso-sp
lawa-sp
len-sp
lete-sp
li-sp
lili-sp
linja-sp
lipu-sp
loje-sp
lon-sp
luka-sp
lukin-sp
lupa-sp
ma-sp
mama-sp
mani-sp
meli-sp
mi-sp
mije-sp
moku-sp
moli-sp
monsi-sp
mu-sp
mun-sp
musi-sp
mute-sp
nanpa-sp
nasa-sp
nasin-sp
nena-sp
ni-sp
nimi-sp
noka-sp
o-sp
olin-sp
ona-sp
open-sp
pakala-sp
pali-sp
palisa-sp
pan-sp
pana-sp
pi-sp
pilin-sp
pimeja-sp
pini-sp
pipi-sp
poka-sp
poki-sp
pona-sp
pu-sp
sama-sp
seli-sp
selo-sp
seme-sp
sewi-sp
sijelo-sp
sike-sp
sin-sp
sina-sp
sinpin-sp
sitelen-sp
sona-sp
soweli-sp
suli-sp
suno-sp
supa-sp
suwi-sp
tan-sp
taso-sp
tawa-sp
telo-sp
tenpo-sp
toki-sp
tomo-sp
tu-sp
unpa-sp
uta-sp
utala-sp
walo-sp
wan-sp
waso-sp
wawa-sp
weka-sp
wile-sp
";
name = cartouchable;
},
{
code = "zero.cart
one.cart
two.cart
three.cart
four.cart
five.cart
six.cart
seven.cart
eight.cart
nine.cart
space-han.cart
comma-han.cart
cornerbracketleft.cart
cornerbracketright.cart
colon-sp.cart
interpunct-sp.cart
apeja-sp.cart
majuna-sp.cart
pake-sp.cart
powe-sp.cart
epiku-sp.cart
jasima-sp.cart
kijetesantakalu-sp.cart
kin-sp.cart
kipisi-sp.cart
kokosila-sp.cart
ku-sp.cart
lanpan-sp.cart
leko-sp.cart
meso-sp.cart
misikeke-sp.cart
monsuta-sp.cart
n-sp.cart
namako-sp.cart
oko-sp.cart
soko-sp.cart
tonsi-sp.cart
a-sp.cart
akesi-sp.cart
ala-sp.cart
alasa-sp.cart
ale-sp.cart
anpa-sp.cart
ante-sp.cart
anu-sp.cart
awen-sp.cart
e-sp.cart
en-sp.cart
esun-sp.cart
ijo-sp.cart
ike-sp.cart
ilo-sp.cart
insa-sp.cart
jaki-sp.cart
jan-sp.cart
jelo-sp.cart
jo-sp.cart
kala-sp.cart
kalama-sp.cart
kama-sp.cart
kasi-sp.cart
ken-sp.cart
kepeken-sp.cart
kili-sp.cart
kiwen-sp.cart
ko-sp.cart
kon-sp.cart
kule-sp.cart
kulupu-sp.cart
kute-sp.cart
la-sp.cart
lape-sp.cart
laso-sp.cart
lawa-sp.cart
len-sp.cart
lete-sp.cart
li-sp.cart
lili-sp.cart
linja-sp.cart
lipu-sp.cart
loje-sp.cart
lon-sp.cart
luka-sp.cart
lukin-sp.cart
lupa-sp.cart
ma-sp.cart
mama-sp.cart
mani-sp.cart
meli-sp.cart
mi-sp.cart
mije-sp.cart
moku-sp.cart
moli-sp.cart
monsi-sp.cart
mu-sp.cart
mun-sp.cart
musi-sp.cart
mute-sp.cart
nanpa-sp.cart
nasa-sp.cart
nasin-sp.cart
nena-sp.cart
ni-sp.cart
nimi-sp.cart
noka-sp.cart
o-sp.cart
olin-sp.cart
ona-sp.cart
open-sp.cart
pakala-sp.cart
pali-sp.cart
palisa-sp.cart
pan-sp.cart
pana-sp.cart
pi-sp.cart
pilin-sp.cart
pimeja-sp.cart
pini-sp.cart
pipi-sp.cart
poka-sp.cart
poki-sp.cart
pona-sp.cart
pu-sp.cart
sama-sp.cart
seli-sp.cart
selo-sp.cart
seme-sp.cart
sewi-sp.cart
sijelo-sp.cart
sike-sp.cart
sin-sp.cart
sina-sp.cart
sinpin-sp.cart
sitelen-sp.cart
sona-sp.cart
soweli-sp.cart
suli-sp.cart
suno-sp.cart
supa-sp.cart
suwi-sp.cart
tan-sp.cart
taso-sp.cart
tawa-sp.cart
telo-sp.cart
tenpo-sp.cart
toki-sp.cart
tomo-sp.cart
tu-sp.cart
unpa-sp.cart
uta-sp.cart
utala-sp.cart
walo-sp.cart
wan-sp.cart
waso-sp.cart
wawa-sp.cart
weka-sp.cart
wile-sp.cart
";
name = cartouched;
},
{
code = "zero.kcart
one.kcart
two.kcart
three.kcart
four.kcart
five.kcart
six.kcart
seven.kcart
eight.kcart
nine.kcart
space-han.kcart
comma-han.kcart
cornerbracketleft.kcart
cornerbracketright.kcart
colon-sp.kcart
interpunct-sp.kcart
apeja-sp.kcart
majuna-sp.kcart
pake-sp.kcart
powe-sp.kcart
epiku-sp.kcart
jasima-sp.kcart
kijetesantakalu-sp.kcart
kin-sp.kcart
kipisi-sp.kcart
kokosila-sp.kcart
ku-sp.kcart
lanpan-sp.kcart
leko-sp.kcart
meso-sp.kcart
misikeke-sp.kcart
monsuta-sp.kcart
n-sp.kcart
namako-sp.kcart
oko-sp.kcart
soko-sp.kcart
tonsi-sp.kcart
a-sp.kcart
akesi-sp.kcart
ala-sp.kcart
alasa-sp.kcart
ale-sp.kcart
anpa-sp.kcart
ante-sp.kcart
anu-sp.kcart
awen-sp.kcart
e-sp.kcart
en-sp.kcart
esun-sp.kcart
ijo-sp.kcart
ike-sp.kcart
ilo-sp.kcart
insa-sp.kcart
jaki-sp.kcart
jan-sp.kcart
jelo-sp.kcart
jo-sp.kcart
kala-sp.kcart
kalama-sp.kcart
kama-sp.kcart
kasi-sp.kcart
ken-sp.kcart
kepeken-sp.kcart
kili-sp.kcart
kiwen-sp.kcart
ko-sp.kcart
kon-sp.kcart
kule-sp.kcart
kulupu-sp.kcart
kute-sp.kcart
la-sp.kcart
lape-sp.kcart
laso-sp.kcart
lawa-sp.kcart
len-sp.kcart
lete-sp.kcart
li-sp.kcart
lili-sp.kcart
linja-sp.kcart
lipu-sp.kcart
loje-sp.kcart
lon-sp.kcart
luka-sp.kcart
lukin-sp.kcart
lupa-sp.kcart
ma-sp.kcart
mama-sp.kcart
mani-sp.kcart
meli-sp.kcart
mi-sp.kcart
mije-sp.kcart
moku-sp.kcart
moli-sp.kcart
monsi-sp.kcart
mu-sp.kcart
mun-sp.kcart
musi-sp.kcart
mute-sp.kcart
nanpa-sp.kcart
nasa-sp.kcart
nasin-sp.kcart
nena-sp.kcart
ni-sp.kcart
nimi-sp.kcart
noka-sp.kcart
o-sp.kcart
olin-sp.kcart
ona-sp.kcart
open-sp.kcart
pakala-sp.kcart
pali-sp.kcart
palisa-sp.kcart
pan-sp.kcart
pana-sp.kcart
pi-sp.kcart
pilin-sp.kcart
pimeja-sp.kcart
pini-sp.kcart
pipi-sp.kcart
poka-sp.kcart
poki-sp.kcart
pona-sp.kcart
pu-sp.kcart
sama-sp.kcart
seli-sp.kcart
selo-sp.kcart
seme-sp.kcart
sewi-sp.kcart
sijelo-sp.kcart
sike-sp.kcart
sin-sp.kcart
sina-sp.kcart
sinpin-sp.kcart
sitelen-sp.kcart
sona-sp.kcart
soweli-sp.kcart
suli-sp.kcart
suno-sp.kcart
supa-sp.kcart
suwi-sp.kcart
tan-sp.kcart
taso-sp.kcart
tawa-sp.kcart
telo-sp.kcart
tenpo-sp.kcart
toki-sp.kcart
tomo-sp.kcart
tu-sp.kcart
unpa-sp.kcart
uta-sp.kcart
utala-sp.kcart
walo-sp.kcart
wan-sp.kcart
waso-sp.kcart
wawa-sp.kcart
weka-sp.kcart
wile-sp.kcart
";
name = kcartouched;
}
);
date = "2024-01-25 21:59:19 +0000";
familyName = "linja insa";
featurePrefixes = (
{
automatic = 1;
code = "languagesystem DFLT dflt;
";
name = Languagesystems;
}
);
features = (
{
automatic = 1;
code = "feature calt;
feature vert;
feature vrt2;
";
tag = aalt;
},
{
code = "sub [cartouchestart-sp @cartouched] @cartouchable' by @cartouched;
rsub @cartouchable' [cartoucheend-sp @cartouched] by @cartouched;

sub kijetesantakalu-sp longstart-sp by kijetesantakalu-sp.start;

sub [kijetesantakalu-sp.start @kcartouched] @cartouchable' by @kcartouched;
sub @kcartouched longend-sp' by kijetesantakalu-sp.cartoucheend;
";
tag = calt;
},
{
automatic = 1;
code = "sub space-han.cart by space-han.cart.vert;
sub space-han.kcart by space-han.kcart.vert;
sub comma-han.cart by comma-han.cart.vert;
sub comma-han.kcart by comma-han.kcart.vert;
sub comma-han by comma-han.vert;
sub cornerbracketleft by cornerbracketleft.vert;
sub cornerbracketright by cornerbracketright.vert;
sub cornerbracketleft.cart by cornerbracketleft.cart.vert;
sub cornerbracketright.cart by cornerbracketright.cart.vert;
sub cornerbracketleft.kcart by cornerbracketleft.kcart.vert;
sub cornerbracketright.kcart by cornerbracketright.kcart.vert;
sub cartoucheend-sp by cartoucheend-sp.vert;
sub cartouchestart-sp by cartouchestart-sp.vert;
sub colon-sp.cart by colon-sp.cart.vert;
sub colon-sp.kcart by colon-sp.kcart.vert;
sub colon-sp by colon-sp.vert;
sub interpunct-sp.cart by interpunct-sp.cart.vert;
sub interpunct-sp.kcart by interpunct-sp.kcart.vert;
sub apeja-sp.cart by apeja-sp.cart.vert;
sub apeja-sp.kcart by apeja-sp.kcart.vert;
sub majuna-sp.cart by majuna-sp.cart.vert;
sub majuna-sp.kcart by majuna-sp.kcart.vert;
sub pake-sp.cart by pake-sp.cart.vert;
sub pake-sp.kcart by pake-sp.kcart.vert;
sub powe-sp.cart by powe-sp.cart.vert;
sub powe-sp.kcart by powe-sp.kcart.vert;
sub epiku-sp.cart by epiku-sp.cart.vert;
sub epiku-sp.kcart by epiku-sp.kcart.vert;
sub jasima-sp.cart by jasima-sp.cart.vert;
sub jasima-sp.kcart by jasima-sp.kcart.vert;
sub kijetesantakalu-sp.cart by kijetesantakalu-sp.cart.vert;
sub kijetesantakalu-sp.cartoucheend by kijetesantakalu-sp.cartoucheend.vert;
sub kijetesantakalu-sp.kcart by kijetesantakalu-sp.kcart.vert;
sub kijetesantakalu-sp.start by kijetesantakalu-sp.start.vert;
sub kin-sp.cart by kin-sp.cart.vert;
sub kin-sp.kcart by kin-sp.kcart.vert;
sub kipisi-sp.cart by kipisi-sp.cart.vert;
sub kipisi-sp.kcart by kipisi-sp.kcart.vert;
sub kokosila-sp.cart by kokosila-sp.cart.vert;
sub kokosila-sp.kcart by kokosila-sp.kcart.vert;
sub ku-sp.cart by ku-sp.cart.vert;
sub ku-sp.kcart by ku-sp.kcart.vert;
sub lanpan-sp.cart by lanpan-sp.cart.vert;
sub lanpan-sp.kcart by lanpan-sp.kcart.vert;
sub leko-sp.cart by leko-sp.cart.vert;
sub leko-sp.kcart by leko-sp.kcart.vert;
sub meso-sp.cart by meso-sp.cart.vert;
sub meso-sp.kcart by meso-sp.kcart.vert;
sub misikeke-sp.cart by misikeke-sp.cart.vert;
sub misikeke-sp.kcart by misikeke-sp.kcart.vert;
sub monsuta-sp.cart by monsuta-sp.cart.vert;
sub monsuta-sp.kcart by monsuta-sp.kcart.vert;
sub n-sp.cart by n-sp.cart.vert;
sub n-sp.kcart by n-sp.kcart.vert;
sub namako-sp.cart by namako-sp.cart.vert;
sub namako-sp.kcart by namako-sp.kcart.vert;
sub oko-sp.cart by oko-sp.cart.vert;
sub oko-sp.kcart by oko-sp.kcart.vert;
sub soko-sp.cart by soko-sp.cart.vert;
sub soko-sp.kcart by soko-sp.kcart.vert;
sub tonsi-sp.cart by tonsi-sp.cart.vert;
sub tonsi-sp.kcart by tonsi-sp.kcart.vert;
sub a-sp.cart by a-sp.cart.vert;
sub a-sp.kcart by a-sp.kcart.vert;
sub akesi-sp.cart by akesi-sp.cart.vert;
sub akesi-sp.kcart by akesi-sp.kcart.vert;
sub ala-sp.cart by ala-sp.cart.vert;
sub ala-sp.kcart by ala-sp.kcart.vert;
sub alasa-sp.cart by alasa-sp.cart.vert;
sub alasa-sp.kcart by alasa-sp.kcart.vert;
sub ale-sp.cart by ale-sp.cart.vert;
sub ale-sp.kcart by ale-sp.kcart.vert;
sub anpa-sp.cart by anpa-sp.cart.vert;
sub anpa-sp.kcart by anpa-sp.kcart.vert;
sub ante-sp.cart by ante-sp.cart.vert;
sub ante-sp.kcart by ante-sp.kcart.vert;
sub anu-sp.cart by anu-sp.cart.vert;
sub anu-sp.kcart by anu-sp.kcart.vert;
sub awen-sp.cart by awen-sp.cart.vert;
sub awen-sp.kcart by awen-sp.kcart.vert;
sub e-sp.cart by e-sp.cart.vert;
sub e-sp.kcart by e-sp.kcart.vert;
sub en-sp.cart by en-sp.cart.vert;
sub en-sp.kcart by en-sp.kcart.vert;
sub esun-sp.cart by esun-sp.cart.vert;
sub esun-sp.kcart by esun-sp.kcart.vert;
sub ijo-sp.cart by ijo-sp.cart.vert;
sub ijo-sp.kcart by ijo-sp.kcart.vert;
sub ike-sp.cart by ike-sp.cart.vert;
sub ike-sp.kcart by ike-sp.kcart.vert;
sub ilo-sp.cart by ilo-sp.cart.vert;
sub ilo-sp.kcart by ilo-sp.kcart.vert;
sub insa-sp.cart by insa-sp.cart.vert;
sub insa-sp.kcart by insa-sp.kcart.vert;
sub jaki-sp.cart by jaki-sp.cart.vert;
sub jaki-sp.kcart by jaki-sp.kcart.vert;
sub jan-sp.cart by jan-sp.cart.vert;
sub jan-sp.kcart by jan-sp.kcart.vert;
sub jelo-sp.cart by jelo-sp.cart.vert;
sub jelo-sp.kcart by jelo-sp.kcart.vert;
sub jo-sp.cart by jo-sp.cart.vert;
sub jo-sp.kcart by jo-sp.kcart.vert;
sub kala-sp.cart by kala-sp.cart.vert;
sub kala-sp.kcart by kala-sp.kcart.vert;
sub kalama-sp.cart by kalama-sp.cart.vert;
sub kalama-sp.kcart by kalama-sp.kcart.vert;
sub kama-sp.cart by kama-sp.cart.vert;
sub kama-sp.kcart by kama-sp.kcart.vert;
sub kasi-sp.cart by kasi-sp.cart.vert;
sub kasi-sp.kcart by kasi-sp.kcart.vert;
sub ken-sp.cart by ken-sp.cart.vert;
sub ken-sp.kcart by ken-sp.kcart.vert;
sub kepeken-sp.cart by kepeken-sp.cart.vert;
sub kepeken-sp.kcart by kepeken-sp.kcart.vert;
sub kili-sp.cart by kili-sp.cart.vert;
sub kili-sp.kcart by kili-sp.kcart.vert;
sub kiwen-sp.cart by kiwen-sp.cart.vert;
sub kiwen-sp.kcart by kiwen-sp.kcart.vert;
sub ko-sp.cart by ko-sp.cart.vert;
sub ko-sp.kcart by ko-sp.kcart.vert;
sub kon-sp.cart by kon-sp.cart.vert;
sub kon-sp.kcart by kon-sp.kcart.vert;
sub kule-sp.cart by kule-sp.cart.vert;
sub kule-sp.kcart by kule-sp.kcart.vert;
sub kulupu-sp.cart by kulupu-sp.cart.vert;
sub kulupu-sp.kcart by kulupu-sp.kcart.vert;
sub kute-sp.cart by kute-sp.cart.vert;
sub kute-sp.kcart by kute-sp.kcart.vert;
sub la-sp.cart by la-sp.cart.vert;
sub la-sp.kcart by la-sp.kcart.vert;
sub lape-sp.cart by lape-sp.cart.vert;
sub lape-sp.kcart by lape-sp.kcart.vert;
sub laso-sp.cart by laso-sp.cart.vert;
sub laso-sp.kcart by laso-sp.kcart.vert;
sub lawa-sp.cart by lawa-sp.cart.vert;
sub lawa-sp.kcart by lawa-sp.kcart.vert;
sub len-sp.cart by len-sp.cart.vert;
sub len-sp.kcart by len-sp.kcart.vert;
sub lete-sp.cart by lete-sp.cart.vert;
sub lete-sp.kcart by lete-sp.kcart.vert;
sub li-sp.cart by li-sp.cart.vert;
sub li-sp.kcart by li-sp.kcart.vert;
sub lili-sp.cart by lili-sp.cart.vert;
sub lili-sp.kcart by lili-sp.kcart.vert;
sub linja-sp.cart by linja-sp.cart.vert;
sub linja-sp.kcart by linja-sp.kcart.vert;
sub lipu-sp.cart by lipu-sp.cart.vert;
sub lipu-sp.kcart by lipu-sp.kcart.vert;
sub loje-sp.cart by loje-sp.cart.vert;
sub loje-sp.kcart by loje-sp.kcart.vert;
sub lon-sp.cart by lon-sp.cart.vert;
sub lon-sp.kcart by lon-sp.kcart.vert;
sub luka-sp.cart by luka-sp.cart.vert;
sub luka-sp.kcart by luka-sp.kcart.vert;
sub lukin-sp.cart by lukin-sp.cart.vert;
sub lukin-sp.kcart by lukin-sp.kcart.vert;
sub lupa-sp.cart by lupa-sp.cart.vert;
sub lupa-sp.kcart by lupa-sp.kcart.vert;
sub ma-sp.cart by ma-sp.cart.vert;
sub ma-sp.kcart by ma-sp.kcart.vert;
sub mama-sp.cart by mama-sp.cart.vert;
sub mama-sp.kcart by mama-sp.kcart.vert;
sub mani-sp.cart by mani-sp.cart.vert;
sub mani-sp.kcart by mani-sp.kcart.vert;
sub meli-sp.cart by meli-sp.cart.vert;
sub meli-sp.kcart by meli-sp.kcart.vert;
sub mi-sp.cart by mi-sp.cart.vert;
sub mi-sp.kcart by mi-sp.kcart.vert;
sub mije-sp.cart by mije-sp.cart.vert;
sub mije-sp.kcart by mije-sp.kcart.vert;
sub moku-sp.cart by moku-sp.cart.vert;
sub moku-sp.kcart by moku-sp.kcart.vert;
sub moli-sp.cart by moli-sp.cart.vert;
sub moli-sp.kcart by moli-sp.kcart.vert;
sub monsi-sp.cart by monsi-sp.cart.vert;
sub monsi-sp.kcart by monsi-sp.kcart.vert;
sub mu-sp.cart by mu-sp.cart.vert;
sub mu-sp.kcart by mu-sp.kcart.vert;
sub mun-sp.cart by mun-sp.cart.vert;
sub mun-sp.kcart by mun-sp.kcart.vert;
sub musi-sp.cart by musi-sp.cart.vert;
sub musi-sp.kcart by musi-sp.kcart.vert;
sub mute-sp.cart by mute-sp.cart.vert;
sub mute-sp.kcart by mute-sp.kcart.vert;
sub nanpa-sp.cart by nanpa-sp.cart.vert;
sub nanpa-sp.kcart by nanpa-sp.kcart.vert;
sub nasa-sp.cart by nasa-sp.cart.vert;
sub nasa-sp.kcart by nasa-sp.kcart.vert;
sub nasin-sp.cart by nasin-sp.cart.vert;
sub nasin-sp.kcart by nasin-sp.kcart.vert;
sub nena-sp.cart by nena-sp.cart.vert;
sub nena-sp.kcart by nena-sp.kcart.vert;
sub ni-sp.cart by ni-sp.cart.vert;
sub ni-sp.kcart by ni-sp.kcart.vert;
sub nimi-sp.cart by nimi-sp.cart.vert;
sub nimi-sp.kcart by nimi-sp.kcart.vert;
sub noka-sp.cart by noka-sp.cart.vert;
sub noka-sp.kcart by noka-sp.kcart.vert;
sub o-sp.cart by o-sp.cart.vert;
sub o-sp.kcart by o-sp.kcart.vert;
sub olin-sp.cart by olin-sp.cart.vert;
sub olin-sp.kcart by olin-sp.kcart.vert;
sub ona-sp.cart by ona-sp.cart.vert;
sub ona-sp.kcart by ona-sp.kcart.vert;
sub open-sp.cart by open-sp.cart.vert;
sub open-sp.kcart by open-sp.kcart.vert;
sub pakala-sp.cart by pakala-sp.cart.vert;
sub pakala-sp.kcart by pakala-sp.kcart.vert;
sub pali-sp.cart by pali-sp.cart.vert;
sub pali-sp.kcart by pali-sp.kcart.vert;
sub palisa-sp.cart by palisa-sp.cart.vert;
sub palisa-sp.kcart by palisa-sp.kcart.vert;
sub pan-sp.cart by pan-sp.cart.vert;
sub pan-sp.kcart by pan-sp.kcart.vert;
sub pana-sp.cart by pana-sp.cart.vert;
sub pana-sp.kcart by pana-sp.kcart.vert;
sub pi-sp.cart by pi-sp.cart.vert;
sub pi-sp.kcart by pi-sp.kcart.vert;
sub pilin-sp.cart by pilin-sp.cart.vert;
sub pilin-sp.kcart by pilin-sp.kcart.vert;
sub pimeja-sp.cart by pimeja-sp.cart.vert;
sub pimeja-sp.kcart by pimeja-sp.kcart.vert;
sub pini-sp.cart by pini-sp.cart.vert;
sub pini-sp.kcart by pini-sp.kcart.vert;
sub pipi-sp.cart by pipi-sp.cart.vert;
sub pipi-sp.kcart by pipi-sp.kcart.vert;
sub poka-sp.cart by poka-sp.cart.vert;
sub poka-sp.kcart by poka-sp.kcart.vert;
sub poki-sp.cart by poki-sp.cart.vert;
sub poki-sp.kcart by poki-sp.kcart.vert;
sub pona-sp.cart by pona-sp.cart.vert;
sub pona-sp.kcart by pona-sp.kcart.vert;
sub pu-sp.cart by pu-sp.cart.vert;
sub pu-sp.kcart by pu-sp.kcart.vert;
sub sama-sp.cart by sama-sp.cart.vert;
sub sama-sp.kcart by sama-sp.kcart.vert;
sub seli-sp.cart by seli-sp.cart.vert;
sub seli-sp.kcart by seli-sp.kcart.vert;
sub selo-sp.cart by selo-sp.cart.vert;
sub selo-sp.kcart by selo-sp.kcart.vert;
sub seme-sp.cart by seme-sp.cart.vert;
sub seme-sp.kcart by seme-sp.kcart.vert;
sub sewi-sp.cart by sewi-sp.cart.vert;
sub sewi-sp.kcart by sewi-sp.kcart.vert;
sub sijelo-sp.cart by sijelo-sp.cart.vert;
sub sijelo-sp.kcart by sijelo-sp.kcart.vert;
sub sike-sp.cart by sike-sp.cart.vert;
sub sike-sp.kcart by sike-sp.kcart.vert;
sub sin-sp.cart by sin-sp.cart.vert;
sub sin-sp.kcart by sin-sp.kcart.vert;
sub sina-sp.cart by sina-sp.cart.vert;
sub sina-sp.kcart by sina-sp.kcart.vert;
sub sinpin-sp.cart by sinpin-sp.cart.vert;
sub sinpin-sp.kcart by sinpin-sp.kcart.vert;
sub sitelen-sp.cart by sitelen-sp.cart.vert;
sub sitelen-sp.kcart by sitelen-sp.kcart.vert;
sub sona-sp.cart by sona-sp.cart.vert;
sub sona-sp.kcart by sona-sp.kcart.vert;
sub soweli-sp.cart by soweli-sp.cart.vert;
sub soweli-sp.kcart by soweli-sp.kcart.vert;
sub suli-sp.cart by suli-sp.cart.vert;
sub suli-sp.kcart by suli-sp.kcart.vert;
sub suno-sp.cart by suno-sp.cart.vert;
sub suno-sp.kcart by suno-sp.kcart.vert;
sub supa-sp.cart by supa-sp.cart.vert;
sub supa-sp.kcart by supa-sp.kcart.vert;
sub suwi-sp.cart by suwi-sp.cart.vert;
sub suwi-sp.kcart by suwi-sp.kcart.vert;
sub tan-sp.cart by tan-sp.cart.vert;
sub tan-sp.kcart by tan-sp.kcart.vert;
sub taso-sp.cart by taso-sp.cart.vert;
sub taso-sp.kcart by taso-sp.kcart.vert;
sub tawa-sp.cart by tawa-sp.cart.vert;
sub tawa-sp.kcart by tawa-sp.kcart.vert;
sub telo-sp.cart by telo-sp.cart.vert;
sub telo-sp.kcart by telo-sp.kcart.vert;
sub tenpo-sp.cart by tenpo-sp.cart.vert;
sub tenpo-sp.kcart by tenpo-sp.kcart.vert;
sub toki-sp.cart by toki-sp.cart.vert;
sub toki-sp.kcart by toki-sp.kcart.vert;
sub tomo-sp.cart by tomo-sp.cart.vert;
sub tomo-sp.kcart by tomo-sp.kcart.vert;
sub tu-sp.cart by tu-sp.cart.vert;
sub tu-sp.kcart by tu-sp.kcart.vert;
sub unpa-sp.cart by unpa-sp.cart.vert;
sub unpa-sp.kcart by unpa-sp.kcart.vert;
sub uta-sp.cart by uta-sp.cart.vert;
sub uta-sp.kcart by uta-sp.kcart.vert;
sub utala-sp.cart by utala-sp.cart.vert;
sub utala-sp.kcart by utala-sp.kcart.vert;
sub walo-sp.cart by walo-sp.cart.vert;
sub walo-sp.kcart by walo-sp.kcart.vert;
sub wan-sp.cart by wan-sp.cart.vert;
sub wan-sp.kcart by wan-sp.kcart.vert;
sub waso-sp.cart by waso-sp.cart.vert;
sub waso-sp.kcart by waso-sp.kcart.vert;
sub wawa-sp.cart by wawa-sp.cart.vert;
sub wawa-sp.kcart by wawa-sp.kcart.vert;
sub weka-sp.cart by weka-sp.cart.vert;
sub weka-sp.kcart by weka-sp.kcart.vert;
sub wile-sp.cart by wile-sp.cart.vert;
sub wile-sp.kcart by wile-sp.kcart.vert;
";
tag = vert;
},
{
automatic = 1;
code = "sub space-han.cart by space-han.cart.vert;
sub space-han.kcart by space-han.kcart.vert;
sub comma-han.cart by comma-han.cart.vert;
sub comma-han.kcart by comma-han.kcart.vert;
sub comma-han by comma-han.vert;
sub cornerbracketleft by cornerbracketleft.vert;
sub cornerbracketright by cornerbracketright.vert;
sub cornerbracketleft.cart by cornerbracketleft.cart.vert;
sub cornerbracketright.cart by cornerbracketright.cart.vert;
sub cornerbracketleft.kcart by cornerbracketleft.kcart.vert;
sub cornerbracketright.kcart by cornerbracketright.kcart.vert;
sub cartoucheend-sp by cartoucheend-sp.vert;
sub cartouchestart-sp by cartouchestart-sp.vert;
sub colon-sp.cart by colon-sp.cart.vert;
sub colon-sp.kcart by colon-sp.kcart.vert;
sub colon-sp by colon-sp.vert;
sub interpunct-sp.cart by interpunct-sp.cart.vert;
sub interpunct-sp.kcart by interpunct-sp.kcart.vert;
sub apeja-sp.cart by apeja-sp.cart.vert;
sub apeja-sp.kcart by apeja-sp.kcart.vert;
sub majuna-sp.cart by majuna-sp.cart.vert;
sub majuna-sp.kcart by majuna-sp.kcart.vert;
sub pake-sp.cart by pake-sp.cart.vert;
sub pake-sp.kcart by pake-sp.kcart.vert;
sub powe-sp.cart by powe-sp.cart.vert;
sub powe-sp.kcart by powe-sp.kcart.vert;
sub epiku-sp.cart by epiku-sp.cart.vert;
sub epiku-sp.kcart by epiku-sp.kcart.vert;
sub jasima-sp.cart by jasima-sp.cart.vert;
sub jasima-sp.kcart by jasima-sp.kcart.vert;
sub kijetesantakalu-sp.cart by kijetesantakalu-sp.cart.vert;
sub kijetesantakalu-sp.cartoucheend by kijetesantakalu-sp.cartoucheend.vert;
sub kijetesantakalu-sp.kcart by kijetesantakalu-sp.kcart.vert;
sub kijetesantakalu-sp.start by kijetesantakalu-sp.start.vert;
sub kin-sp.cart by kin-sp.cart.vert;
sub kin-sp.kcart by kin-sp.kcart.vert;
sub kipisi-sp.cart by kipisi-sp.cart.vert;
sub kipisi-sp.kcart by kipisi-sp.kcart.vert;
sub kokosila-sp.cart by kokosila-sp.cart.vert;
sub kokosila-sp.kcart by kokosila-sp.kcart.vert;
sub ku-sp.cart by ku-sp.cart.vert;
sub ku-sp.kcart by ku-sp.kcart.vert;
sub lanpan-sp.cart by lanpan-sp.cart.vert;
sub lanpan-sp.kcart by lanpan-sp.kcart.vert;
sub leko-sp.cart by leko-sp.cart.vert;
sub leko-sp.kcart by leko-sp.kcart.vert;
sub meso-sp.cart by meso-sp.cart.vert;
sub meso-sp.kcart by meso-sp.kcart.vert;
sub misikeke-sp.cart by misikeke-sp.cart.vert;
sub misikeke-sp.kcart by misikeke-sp.kcart.vert;
sub monsuta-sp.cart by monsuta-sp.cart.vert;
sub monsuta-sp.kcart by monsuta-sp.kcart.vert;
sub n-sp.cart by n-sp.cart.vert;
sub n-sp.kcart by n-sp.kcart.vert;
sub namako-sp.cart by namako-sp.cart.vert;
sub namako-sp.kcart by namako-sp.kcart.vert;
sub oko-sp.cart by oko-sp.cart.vert;
sub oko-sp.kcart by oko-sp.kcart.vert;
sub soko-sp.cart by soko-sp.cart.vert;
sub soko-sp.kcart by soko-sp.kcart.vert;
sub tonsi-sp.cart by tonsi-sp.cart.vert;
sub tonsi-sp.kcart by tonsi-sp.kcart.vert;
sub a-sp.cart by a-sp.cart.vert;
sub a-sp.kcart by a-sp.kcart.vert;
sub akesi-sp.cart by akesi-sp.cart.vert;
sub akesi-sp.kcart by akesi-sp.kcart.vert;
sub ala-sp.cart by ala-sp.cart.vert;
sub ala-sp.kcart by ala-sp.kcart.vert;
sub alasa-sp.cart by alasa-sp.cart.vert;
sub alasa-sp.kcart by alasa-sp.kcart.vert;
sub ale-sp.cart by ale-sp.cart.vert;
sub ale-sp.kcart by ale-sp.kcart.vert;
sub anpa-sp.cart by anpa-sp.cart.vert;
sub anpa-sp.kcart by anpa-sp.kcart.vert;
sub ante-sp.cart by ante-sp.cart.vert;
sub ante-sp.kcart by ante-sp.kcart.vert;
sub anu-sp.cart by anu-sp.cart.vert;
sub anu-sp.kcart by anu-sp.kcart.vert;
sub awen-sp.cart by awen-sp.cart.vert;
sub awen-sp.kcart by awen-sp.kcart.vert;
sub e-sp.cart by e-sp.cart.vert;
sub e-sp.kcart by e-sp.kcart.vert;
sub en-sp.cart by en-sp.cart.vert;
sub en-sp.kcart by en-sp.kcart.vert;
sub esun-sp.cart by esun-sp.cart.vert;
sub esun-sp.kcart by esun-sp.kcart.vert;
sub ijo-sp.cart by ijo-sp.cart.vert;
sub ijo-sp.kcart by ijo-sp.kcart.vert;
sub ike-sp.cart by ike-sp.cart.vert;
sub ike-sp.kcart by ike-sp.kcart.vert;
sub ilo-sp.cart by ilo-sp.cart.vert;
sub ilo-sp.kcart by ilo-sp.kcart.vert;
sub insa-sp.cart by insa-sp.cart.vert;
sub insa-sp.kcart by insa-sp.kcart.vert;
sub jaki-sp.cart by jaki-sp.cart.vert;
sub jaki-sp.kcart by jaki-sp.kcart.vert;
sub jan-sp.cart by jan-sp.cart.vert;
sub jan-sp.kcart by jan-sp.kcart.vert;
sub jelo-sp.cart by jelo-sp.cart.vert;
sub jelo-sp.kcart by jelo-sp.kcart.vert;
sub jo-sp.cart by jo-sp.cart.vert;
sub jo-sp.kcart by jo-sp.kcart.vert;
sub kala-sp.cart by kala-sp.cart.vert;
sub kala-sp.kcart by kala-sp.kcart.vert;
sub kalama-sp.cart by kalama-sp.cart.vert;
sub kalama-sp.kcart by kalama-sp.kcart.vert;
sub kama-sp.cart by kama-sp.cart.vert;
sub kama-sp.kcart by kama-sp.kcart.vert;
sub kasi-sp.cart by kasi-sp.cart.vert;
sub kasi-sp.kcart by kasi-sp.kcart.vert;
sub ken-sp.cart by ken-sp.cart.vert;
sub ken-sp.kcart by ken-sp.kcart.vert;
sub kepeken-sp.cart by kepeken-sp.cart.vert;
sub kepeken-sp.kcart by kepeken-sp.kcart.vert;
sub kili-sp.cart by kili-sp.cart.vert;
sub kili-sp.kcart by kili-sp.kcart.vert;
sub kiwen-sp.cart by kiwen-sp.cart.vert;
sub kiwen-sp.kcart by kiwen-sp.kcart.vert;
sub ko-sp.cart by ko-sp.cart.vert;
sub ko-sp.kcart by ko-sp.kcart.vert;
sub kon-sp.cart by kon-sp.cart.vert;
sub kon-sp.kcart by kon-sp.kcart.vert;
sub kule-sp.cart by kule-sp.cart.vert;
sub kule-sp.kcart by kule-sp.kcart.vert;
sub kulupu-sp.cart by kulupu-sp.cart.vert;
sub kulupu-sp.kcart by kulupu-sp.kcart.vert;
sub kute-sp.cart by kute-sp.cart.vert;
sub kute-sp.kcart by kute-sp.kcart.vert;
sub la-sp.cart by la-sp.cart.vert;
sub la-sp.kcart by la-sp.kcart.vert;
sub lape-sp.cart by lape-sp.cart.vert;
sub lape-sp.kcart by lape-sp.kcart.vert;
sub laso-sp.cart by laso-sp.cart.vert;
sub laso-sp.kcart by laso-sp.kcart.vert;
sub lawa-sp.cart by lawa-sp.cart.vert;
sub lawa-sp.kcart by lawa-sp.kcart.vert;
sub len-sp.cart by len-sp.cart.vert;
sub len-sp.kcart by len-sp.kcart.vert;
sub lete-sp.cart by lete-sp.cart.vert;
sub lete-sp.kcart by lete-sp.kcart.vert;
sub li-sp.cart by li-sp.cart.vert;
sub li-sp.kcart by li-sp.kcart.vert;
sub lili-sp.cart by lili-sp.cart.vert;
sub lili-sp.kcart by lili-sp.kcart.vert;
sub linja-sp.cart by linja-sp.cart.vert;
sub linja-sp.kcart by linja-sp.kcart.vert;
sub lipu-sp.cart by lipu-sp.cart.vert;
sub lipu-sp.kcart by lipu-sp.kcart.vert;
sub loje-sp.cart by loje-sp.cart.vert;
sub loje-sp.kcart by loje-sp.kcart.vert;
sub lon-sp.cart by lon-sp.cart.vert;
sub lon-sp.kcart by lon-sp.kcart.vert;
sub luka-sp.cart by luka-sp.cart.vert;
sub luka-sp.kcart by luka-sp.kcart.vert;
sub lukin-sp.cart by lukin-sp.cart.vert;
sub lukin-sp.kcart by lukin-sp.kcart.vert;
sub lupa-sp.cart by lupa-sp.cart.vert;
sub lupa-sp.kcart by lupa-sp.kcart.vert;
sub ma-sp.cart by ma-sp.cart.vert;
sub ma-sp.kcart by ma-sp.kcart.vert;
sub mama-sp.cart by mama-sp.cart.vert;
sub mama-sp.kcart by mama-sp.kcart.vert;
sub mani-sp.cart by mani-sp.cart.vert;
sub mani-sp.kcart by mani-sp.kcart.vert;
sub meli-sp.cart by meli-sp.cart.vert;
sub meli-sp.kcart by meli-sp.kcart.vert;
sub mi-sp.cart by mi-sp.cart.vert;
sub mi-sp.kcart by mi-sp.kcart.vert;
sub mije-sp.cart by mije-sp.cart.vert;
sub mije-sp.kcart by mije-sp.kcart.vert;
sub moku-sp.cart by moku-sp.cart.vert;
sub moku-sp.kcart by moku-sp.kcart.vert;
sub moli-sp.cart by moli-sp.cart.vert;
sub moli-sp.kcart by moli-sp.kcart.vert;
sub monsi-sp.cart by monsi-sp.cart.vert;
sub monsi-sp.kcart by monsi-sp.kcart.vert;
sub mu-sp.cart by mu-sp.cart.vert;
sub mu-sp.kcart by mu-sp.kcart.vert;
sub mun-sp.cart by mun-sp.cart.vert;
sub mun-sp.kcart by mun-sp.kcart.vert;
sub musi-sp.cart by musi-sp.cart.vert;
sub musi-sp.kcart by musi-sp.kcart.vert;
sub mute-sp.cart by mute-sp.cart.vert;
sub mute-sp.kcart by mute-sp.kcart.vert;
sub nanpa-sp.cart by nanpa-sp.cart.vert;
sub nanpa-sp.kcart by nanpa-sp.kcart.vert;
sub nasa-sp.cart by nasa-sp.cart.vert;
sub nasa-sp.kcart by nasa-sp.kcart.vert;
sub nasin-sp.cart by nasin-sp.cart.vert;
sub nasin-sp.kcart by nasin-sp.kcart.vert;
sub nena-sp.cart by nena-sp.cart.vert;
sub nena-sp.kcart by nena-sp.kcart.vert;
sub ni-sp.cart by ni-sp.cart.vert;
sub ni-sp.kcart by ni-sp.kcart.vert;
sub nimi-sp.cart by nimi-sp.cart.vert;
sub nimi-sp.kcart by nimi-sp.kcart.vert;
sub noka-sp.cart by noka-sp.cart.vert;
sub noka-sp.kcart by noka-sp.kcart.vert;
sub o-sp.cart by o-sp.cart.vert;
sub o-sp.kcart by o-sp.kcart.vert;
sub olin-sp.cart by olin-sp.cart.vert;
sub olin-sp.kcart by olin-sp.kcart.vert;
sub ona-sp.cart by ona-sp.cart.vert;
sub ona-sp.kcart by ona-sp.kcart.vert;
sub open-sp.cart by open-sp.cart.vert;
sub open-sp.kcart by open-sp.kcart.vert;
sub pakala-sp.cart by pakala-sp.cart.vert;
sub pakala-sp.kcart by pakala-sp.kcart.vert;
sub pali-sp.cart by pali-sp.cart.vert;
sub pali-sp.kcart by pali-sp.kcart.vert;
sub palisa-sp.cart by palisa-sp.cart.vert;
sub palisa-sp.kcart by palisa-sp.kcart.vert;
sub pan-sp.cart by pan-sp.cart.vert;
sub pan-sp.kcart by pan-sp.kcart.vert;
sub pana-sp.cart by pana-sp.cart.vert;
sub pana-sp.kcart by pana-sp.kcart.vert;
sub pi-sp.cart by pi-sp.cart.vert;
sub pi-sp.kcart by pi-sp.kcart.vert;
sub pilin-sp.cart by pilin-sp.cart.vert;
sub pilin-sp.kcart by pilin-sp.kcart.vert;
sub pimeja-sp.cart by pimeja-sp.cart.vert;
sub pimeja-sp.kcart by pimeja-sp.kcart.vert;
sub pini-sp.cart by pini-sp.cart.vert;
sub pini-sp.kcart by pini-sp.kcart.vert;
sub pipi-sp.cart by pipi-sp.cart.vert;
sub pipi-sp.kcart by pipi-sp.kcart.vert;
sub poka-sp.cart by poka-sp.cart.vert;
sub poka-sp.kcart by poka-sp.kcart.vert;
sub poki-sp.cart by poki-sp.cart.vert;
sub poki-sp.kcart by poki-sp.kcart.vert;
sub pona-sp.cart by pona-sp.cart.vert;
sub pona-sp.kcart by pona-sp.kcart.vert;
sub pu-sp.cart by pu-sp.cart.vert;
sub pu-sp.kcart by pu-sp.kcart.vert;
sub sama-sp.cart by sama-sp.cart.vert;
sub sama-sp.kcart by sama-sp.kcart.vert;
sub seli-sp.cart by seli-sp.cart.vert;
sub seli-sp.kcart by seli-sp.kcart.vert;
sub selo-sp.cart by selo-sp.cart.vert;
sub selo-sp.kcart by selo-sp.kcart.vert;
sub seme-sp.cart by seme-sp.cart.vert;
sub seme-sp.kcart by seme-sp.kcart.vert;
sub sewi-sp.cart by sewi-sp.cart.vert;
sub sewi-sp.kcart by sewi-sp.kcart.vert;
sub sijelo-sp.cart by sijelo-sp.cart.vert;
sub sijelo-sp.kcart by sijelo-sp.kcart.vert;
sub sike-sp.cart by sike-sp.cart.vert;
sub sike-sp.kcart by sike-sp.kcart.vert;
sub sin-sp.cart by sin-sp.cart.vert;
sub sin-sp.kcart by sin-sp.kcart.vert;
sub sina-sp.cart by sina-sp.cart.vert;
sub sina-sp.kcart by sina-sp.kcart.vert;
sub sinpin-sp.cart by sinpin-sp.cart.vert;
sub sinpin-sp.kcart by sinpin-sp.kcart.vert;
sub sitelen-sp.cart by sitelen-sp.cart.vert;
sub sitelen-sp.kcart by sitelen-sp.kcart.vert;
sub sona-sp.cart by sona-sp.cart.vert;
sub sona-sp.kcart by sona-sp.kcart.vert;
sub soweli-sp.cart by soweli-sp.cart.vert;
sub soweli-sp.kcart by soweli-sp.kcart.vert;
sub suli-sp.cart by suli-sp.cart.vert;
sub suli-sp.kcart by suli-sp.kcart.vert;
sub suno-sp.cart by suno-sp.cart.vert;
sub suno-sp.kcart by suno-sp.kcart.vert;
sub supa-sp.cart by supa-sp.cart.vert;
sub supa-sp.kcart by supa-sp.kcart.vert;
sub suwi-sp.cart by suwi-sp.cart.vert;
sub suwi-sp.kcart by suwi-sp.kcart.vert;
sub tan-sp.cart by tan-sp.cart.vert;
sub tan-sp.kcart by tan-sp.kcart.vert;
sub taso-sp.cart by taso-sp.cart.vert;
sub taso-sp.kcart by taso-sp.kcart.vert;
sub tawa-sp.cart by tawa-sp.cart.vert;
sub tawa-sp.kcart by tawa-sp.kcart.vert;
sub telo-sp.cart by telo-sp.cart.vert;
sub telo-sp.kcart by telo-sp.kcart.vert;
sub tenpo-sp.cart by tenpo-sp.cart.vert;
sub tenpo-sp.kcart by tenpo-sp.kcart.vert;
sub toki-sp.cart by toki-sp.cart.vert;
sub toki-sp.kcart by toki-sp.kcart.vert;
sub tomo-sp.cart by tomo-sp.cart.vert;
sub tomo-sp.kcart by tomo-sp.kcart.vert;
sub tu-sp.cart by tu-sp.cart.vert;
sub tu-sp.kcart by tu-sp.kcart.vert;
sub unpa-sp.cart by unpa-sp.cart.vert;
sub unpa-sp.kcart by unpa-sp.kcart.vert;
sub uta-sp.cart by uta-sp.cart.vert;
sub uta-sp.kcart by uta-sp.kcart.vert;
sub utala-sp.cart by utala-sp.cart.vert;
sub utala-sp.kcart by utala-sp.kcart.vert;
sub walo-sp.cart by walo-sp.cart.vert;
sub walo-sp.kcart by walo-sp.kcart.vert;
sub wan-sp.cart by wan-sp.cart.vert;
sub wan-sp.kcart by wan-sp.kcart.vert;
sub waso-sp.cart by waso-sp.cart.vert;
sub waso-sp.kcart by waso-sp.kcart.vert;
sub wawa-sp.cart by wawa-sp.cart.vert;
sub wawa-sp.kcart by wawa-sp.kcart.vert;
sub weka-sp.cart by weka-sp.cart.vert;
sub weka-sp.kcart by weka-sp.kcart.vert;
sub wile-sp.cart by wile-sp.cart.vert;
sub wile-sp.kcart by wile-sp.kcart.vert;
";
tag = vrt2;
},
{
automatic = 1;
code = "";
tag = valt;
}
);
fontMaster = (
{
axesValues = (
400
);
customParameters = (
{
name = underlineThickness;
value = 140;
},
{
name = underlinePosition;
value = -348;
},
{
name = typoLineGap;
value = 0;
},
{
name = hheaLineGap;
value = 0;
},
{
name = panose;
value = (
2,
0,
5,
3,
0,
0,
0,
2,
0,
4
);
},
{
name = "Axis Location";
value = (
{
Axis = "Optical size";
Location = 14;
},
{
Axis = Weight;
Location = 400;
}
);
},
{
name = "CJK Grid";
value = "8";
},
{
name = TTFStems;
value = (
{
filter = "category == \"UCSUR\"";
horizontal = 1;
name = HStem;
width = 175;
},
{
filter = "category == \"UCSUR\"";
horizontal = 0;
name = VStem;
width = 186;
}
);
}
);
id = m01;
metricValues = (
{
pos = 1984;
},
{
over = 24;
pos = 1490;
},
{
over = 24;
pos = 1118;
},
{
over = -24;
},
{
pos = -494;
},
{
pos = 745;
}
);
name = Regular;
stemValues = (
175,
186
);
userData = {
GSCornerRadius = 200;
GSExtrudeAngle = 0;
GSExtrudeOffset = 500;
GSOffsetHorizontal = 93;
GSOffsetKeepCompatible = 1;
GSOffsetMakeStroke = 1;
GSOffsetPosition = 1;
GSOffsetVertical = 87.5;
};
}
);
instances = (
{
axesValues = (
0
);
instanceInterpolations = {
m01 = 1;
};
name = Regular;
}
);
metrics = (
{
type = ascender;
},
{
type = "cap height";
},
{
type = "x-height";
},
{
type = baseline;
},
{
type = descender;
},
{
name = Midline;
}
);
settings = {
disablesAutomaticAlignment = 1;
gridLength = 16;
gridSubDivision = 16;
keyboardIncrementBig = 8;
keyboardIncrementHuge = 128;
};
stems = (
{
horizontal = 1;
name = cap_h;
},
{
name = cap_v;
}
);
unitsPerEm = 2048;
userData = {
GSDimensionPlugin.Dimensions = {
m01 = {
HH = "168";
HV = "190";
OH = "176";
OV = "185";
han3 = "175";
han5 = "186";
nV = "180";
nd = "150";
oH = "161";
oV = "182";
tH = "154";
};
};
};
versionMajor = 1;
versionMinor = 0;
}
