(
"space-han",
"space-han.cart",
.notdef,
"comma-han",
"comma-han.cart",
cornerbracketleft,
cornerbracketright,
cornerbracketleft.cart,
cornerbracketright.cart,
_cap.butt,
"cartoucheend-sp",
"cartouchestart-sp",
"colon-sp",
"colon-sp.cart",
"interpunct-sp",
"interpunct-sp.cart",
"joinerscale-sp",
"joinerstack-sp",
"longend-sp",
"longstart-sp",
"reverseend-sp",
"reversestart-sp",
"apeja-sp",
"apeja-sp.cart",
"majuna-sp",
"majuna-sp.cart",
"pake-sp",
"pake-sp.cart",
"powe-sp",
"powe-sp.cart",
"epiku-sp",
"epiku-sp.cart",
"jasima-sp",
"jasima-sp.cart",
"kijetesantakalu-sp",
"kijetesantakalu-sp.cart",
"kin-sp",
"kin-sp.cart",
"kipisi-sp",
"kipisi-sp.cart",
"kokosila-sp",
"kokosila-sp.cart",
"ku-sp",
"ku-sp.cart",
"lanpan-sp",
"lanpan-sp.cart",
"leko-sp",
"leko-sp.cart",
"meso-sp",
"meso-sp.cart",
"misikeke-sp",
"misikeke-sp.cart",
"monsuta-sp",
"monsuta-sp.cart",
"n-sp",
"n-sp.cart",
"namako-sp",
"namako-sp.cart",
"oko-sp",
"oko-sp.cart",
"soko-sp",
"soko-sp.cart",
"tonsi-sp",
"tonsi-sp.cart",
"a-sp",
"a-sp.cart",
"akesi-sp",
"akesi-sp.cart",
"ala-sp",
"ala-sp.cart",
"alasa-sp",
"alasa-sp.cart",
"ale-sp",
"ale-sp.cart",
"anpa-sp",
"anpa-sp.cart",
"ante-sp",
"ante-sp.cart",
"anu-sp",
"anu-sp.cart",
"awen-sp",
"awen-sp.cart",
"e-sp",
"e-sp.cart",
"en-sp",
"en-sp.cart",
"esun-sp",
"esun-sp.cart",
"ijo-sp",
"ijo-sp.cart",
"ike-sp",
"ike-sp.cart",
"ilo-sp",
"ilo-sp.cart",
"insa-sp",
"insa-sp.cart",
"jaki-sp",
"jaki-sp.cart",
"jan-sp",
"jan-sp.cart",
"jelo-sp",
"jelo-sp.cart",
"jo-sp",
"jo-sp.cart",
"kala-sp",
"kala-sp.cart",
"kalama-sp",
"kalama-sp.cart",
"kama-sp",
"kama-sp.cart",
"kasi-sp",
"kasi-sp.cart",
"ken-sp",
"ken-sp.cart",
"kepeken-sp",
"kepeken-sp.cart",
"kili-sp",
"kili-sp.cart",
"kiwen-sp",
"kiwen-sp.cart",
"ko-sp",
"ko-sp.cart",
"kon-sp",
"kon-sp.cart",
"kule-sp",
"kule-sp.cart",
"kulupu-sp",
"kulupu-sp.cart",
"kute-sp",
"kute-sp.cart",
"la-sp",
"la-sp.cart",
"lape-sp",
"lape-sp.cart",
"laso-sp",
"laso-sp.cart",
"lawa-sp",
"lawa-sp.cart",
"len-sp",
"len-sp.cart",
"lete-sp",
"lete-sp.cart",
"li-sp",
"li-sp.cart",
"lili-sp",
"lili-sp.cart",
"linja-sp",
"linja-sp.cart",
"lipu-sp",
"lipu-sp.cart",
"loje-sp",
"loje-sp.cart",
"lon-sp",
"lon-sp.cart",
"luka-sp",
"luka-sp.cart",
"lukin-sp",
"lukin-sp.cart",
"lupa-sp",
"lupa-sp.cart",
"ma-sp",
"ma-sp.cart",
"mama-sp",
"mama-sp.cart",
"mani-sp",
"mani-sp.cart",
"meli-sp",
"meli-sp.cart",
"mi-sp",
"mi-sp.cart",
"mije-sp",
"mije-sp.cart",
"moku-sp",
"moku-sp.cart",
"moli-sp",
"moli-sp.cart",
"monsi-sp",
"monsi-sp.cart",
"mu-sp",
"mu-sp.cart",
"mun-sp",
"mun-sp.cart",
"musi-sp",
"musi-sp.cart",
"mute-sp",
"mute-sp.cart",
"nanpa-sp",
"nanpa-sp.cart",
"nasa-sp",
"nasa-sp.cart",
"nasin-sp",
"nasin-sp.cart",
"nena-sp",
"nena-sp.cart",
"ni-sp",
"ni-sp.cart",
"nimi-sp",
"nimi-sp.cart",
"noka-sp",
"noka-sp.cart",
"o-sp",
"o-sp.cart",
"olin-sp",
"olin-sp.cart",
"ona-sp",
"ona-sp.cart",
"open-sp",
"open-sp.cart",
"pakala-sp",
"pakala-sp.cart",
"pali-sp",
"pali-sp.cart",
"palisa-sp",
"palisa-sp.cart",
"pan-sp",
"pan-sp.cart",
"pana-sp",
"pana-sp.cart",
"pi-sp",
"pi-sp.cart",
"pilin-sp",
"pilin-sp.cart",
"pimeja-sp",
"pimeja-sp.cart",
"pini-sp",
"pini-sp.cart",
"pipi-sp",
"pipi-sp.cart",
"poka-sp",
"poka-sp.cart",
"poki-sp",
"poki-sp.cart",
"pona-sp",
"pona-sp.cart",
"pu-sp",
"pu-sp.cart",
"sama-sp",
"sama-sp.cart",
"seli-sp",
"seli-sp.cart",
"selo-sp",
"selo-sp.cart",
"seme-sp",
"seme-sp.cart",
"sewi-sp",
"sewi-sp.cart",
"sijelo-sp",
"sijelo-sp.cart",
"sike-sp",
"sike-sp.cart",
"sin-sp",
"sin-sp.cart",
"sina-sp",
"sina-sp.cart",
"sinpin-sp",
"sinpin-sp.cart",
"sitelen-sp",
"sitelen-sp.cart",
"sona-sp",
"sona-sp.cart",
"soweli-sp",
"soweli-sp.cart",
"suli-sp",
"suli-sp.cart",
"suno-sp",
"suno-sp.cart",
"supa-sp",
"supa-sp.cart",
"suwi-sp",
"suwi-sp.cart",
"tan-sp",
"tan-sp.cart",
"taso-sp",
"taso-sp.cart",
"tawa-sp",
"tawa-sp.cart",
"telo-sp",
"telo-sp.cart",
"tenpo-sp",
"tenpo-sp.cart",
"toki-sp",
"toki-sp.cart",
"tomo-sp",
"tomo-sp.cart",
"tu-sp",
"tu-sp.cart",
"unpa-sp",
"unpa-sp.cart",
"uta-sp",
"uta-sp.cart",
"utala-sp",
"utala-sp.cart",
"walo-sp",
"walo-sp.cart",
"wan-sp",
"wan-sp.cart",
"waso-sp",
"waso-sp.cart",
"wawa-sp",
"wawa-sp.cart",
"weka-sp",
"weka-sp.cart",
"wile-sp",
"wile-sp.cart",
_part.cartouche,
_closedMouth,
_part.bottom_box,
_part.dot,
_part.pronoun,
_part.side_box,
_part.walking
)