{
displayStrings = (
"/lipu-sp/joinerscale-sp/sin-sp/pi-sp/longstart-sp/lipu-sp/joinerscale-sp/kule-sp/longend-sp 
/nimi-sp/nasin-sp/ni-sp/li-sp/cartouchestart-sp/linja-sp/insa-sp/cartoucheend-sp",
"/_part.cartouche",
"/toki-sp",
"/mi-sp/jo-sp/e-sp/ni-sp",
"/oko-sp",
"/epiku-sp/tonsi-sp/li-sp/jo-sp/ala-sp/jo-sp/e-sp/soko-sp",
"/pu-sp",
"/ku-sp",
"/mi-sp/kipisi-sp/e-sp/selo-sp/sina-sp",
"/tu-sp",
"/kipisi-sp.cart",
"/kipisi-sp",
"/kulupu-sp",
"/kulupu-sp/li-sp/apeja-sp/pilin-sp",
"/sin-sp",
"/.notdef/majuna-sp",
"/pake-sp",
"/powe-sp",
"/namako-sp",
"/kokosila-sp",
"/monsuta-sp",
"/lanpan-sp/ala-sp/lanpan-sp/e-sp/soko-sp",
"/jo-sp",
"/kijetesantakalu-sp/tonsi-sp/li-sp/lanpan-sp/ala-sp/lanpan-sp/e-sp/soko-sp"
);
}
