{
displayStrings = (
"/cartoucheend-sp",
"/_cap.smallButt",
"",
"/cartouchestart-sp/powe-sp/cartouche/cartoucheend-sp",
"/powe-sp",
"/cartouche/tally5",
"/kijetesantakalu-sp.start",
"/kijetesantakalu-sp.start.vert",
"/kijetesantakalu-sp.end",
"/kijetesantakalu-sp.start/wan-sp/cartouche.kijetesantakalu/kijetesantakalu-sp.end",
"/namako-sp",
"/san-sp"
);
}
