(
"a-sp",
"akesi-sp",
"ala-sp",
"alasa-sp",
"ale-sp",
"anpa-sp",
"ante-sp",
"anu-sp",
"awen-sp",
"e-sp",
"en-sp",
"esun-sp",
"ijo-sp",
"ike-sp",
"ilo-sp",
"insa-sp",
"jaki-sp",
"jan-sp",
"jelo-sp",
"jo-sp",
"kala-sp",
"kalama-sp",
"kama-sp",
"kasi-sp",
"ken-sp",
"kepeken-sp",
"kili-sp",
"kiwen-sp",
"ko-sp",
"kon-sp",
"kule-sp",
"kulupu-sp",
"kute-sp",
"la-sp",
"lape-sp",
"laso-sp",
"lawa-sp",
"len-sp",
"lete-sp",
"li-sp",
"lili-sp",
"linja-sp",
"lipu-sp",
"loje-sp",
"lon-sp",
"luka-sp",
"lukin-sp",
"lupa-sp",
"ma-sp",
"mama-sp",
"mani-sp",
"meli-sp",
"mi-sp",
"mije-sp",
"moku-sp",
"moli-sp",
"monsi-sp",
"mu-sp",
"mun-sp",
"musi-sp",
"mute-sp",
"nanpa-sp",
"nasa-sp",
"nasin-sp",
"nena-sp",
"ni-sp",
"nimi-sp",
"noka-sp",
"o-sp"
)