{
displayStrings = (
"/a-sp",
"/akesi-sp",
"/ala-sp",
"/alasa-sp",
"/ale-sp",
"/anpa-sp",
"/ante-sp",
"/anu-sp",
"/awen-sp",
"/e-sp",
"/en-sp",
"/esun-sp",
"/ijo-sp",
"/ike-sp",
"/ilo-sp",
"/insa-sp",
"/jaki-sp",
"/jan-sp",
"/jelo-sp",
"/jo-sp",
"/kala-sp",
"/kalama-sp",
"/kama-sp",
"/kasi-sp"
);
}
