{
displayStrings = (
"/akesi-sp/cartouchestart-sp/jan-sp ‍2/cartoucheend-sp",
"/longstart-sp",
"/longend-sp",
"/cartouche.kijetesantakalu",
"/kijetesantakalu-sp.pini",
"/cartouche.kijetesantakalu.vert",
"/kijetesantakalu-sp.open.vert",
"/kijetesantakalu-sp.pini.vert",
"‍",
"﹁",
"﹂",
"「/lon-sp 」",
"/ko-sp",
"/a-sp"
);
}
